.searchBar {
    background-color: var(--input-bg);
    padding: .25rem .5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: .5rem;

    input {
        background: transparent;
        border: none;
        color: var(--text-primary);
        padding: .75rem .5rem;
        font-size: 1rem;
        flex-grow: 1;
        font-family: inherit;

        &::placeholder {
            color: var(--text-muted);
        }
    }

}