.contactInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem 5rem;
    h2 {
        margin-top: 1rem;
    }

    img {
        width: 5rem;
        height: 5rem;
        border: 3px solid var(--hsla-example);

        &:hover {
            transition: 1s;
            border: 3px solid gold;
        }
    }

    p {
        margin-top: 1rem;
        color: var(--text-muted);
        font-size: 1rem;
    }
}