.contact{
    margin-top: 2rem;
    text-align: center;
    p{
        margin-top: .5rem;
        color: var(--text-muted);
    }
    section{
        margin: 0 auto;
        padding: 1rem 0;
        max-width: 920px;
    }
}