.filter {
  padding: .7rem 2.5rem .7rem 1rem;
  background-color: var(--input-bg);
  border: none;
  border-radius: 5px;
  color: var(--text-primary);
  cursor: pointer;
  transition: all 0.2s;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  &:hover {
    background-color: var(--primary-hover);
    color: white;
  }

  &:focus {
    outline: 2px solid #1173d4;
    outline-offset: 2px;
    
  }
}
