.jobsSearch {
    text-align: center;
    h1{
        padding-top: 36px;
        font-size: 2.5rem;
        margin-bottom: .25rem;
        line-height: 1.2;
        text-wrap: balance;
    }
    p{
        font-size: 1.125rem;
        color: var(--text-muted);
        margin-bottom: 1.5rem;
        text-wrap: balance;
    }
    form{
        margin: 0 auto;
        width: 100%;
        max-width: 1280px;
        padding-inline: 1rem;   
    }
}

.clearFilters{
    margin-top: 1rem;
    padding: .5rem;
    border:none;
    border: 1px solid ;
    border-radius: 5px;
    background-color: var(--primary-dark);
    color: var(--text-muted);
}