.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0;
    gap: 1rem;
    h1 {
        font-size: 2.5rem;
    }

    p {
        color: var(--text-muted);
    }

    section {
        border: 2px solid var(--border);
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        padding: 2rem;
        background-color: var(--input-bg);
        margin-top: 1rem;
        h2{
            text-align: center;
            margin-bottom: 1rem;
        }
        form {
            display: flex;
            flex-direction: column;

            >:nth-child(1) {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin-bottom: 1rem;

                label {
                    background-color: var(--background);
                    cursor: pointer;
                    padding: .5rem;
                    display: flex;
                    gap: 5px;
                    border: 1px solid var(--border);
                    border-radius: 10px;
                    color: var(--text-muted);

                    input {
                        background: none;
                        border: none;
                        color: var(--text-primary);
                        &::placeholder {
                            color: var(--text-muted);
                        }
                    }
                }

                input {
                    width: 100%;
                }
            }

            >:nth-child(2) {
                display: flex;
                justify-content: space-between;
                gap: 3rem;
                margin-bottom: 1rem;
                color: var(--text-primary);

                label {
                    display: flex;
                    gap: 5px;
                    cursor: pointer;
                }

                a {
                    text-decoration: none;
                    color: var(--primary-light);
                }
            }

            button {
                padding: .5rem;
                cursor: pointer;
                border: none;
                box-shadow: 0 .2rem 0 var(--border);
                border-radius: 10px;
                color: var(--text-primary);
                background-color: var(--primary-light);
                display: flex;
                justify-content: center;
                margin-bottom: 15px;
                transition: .5s;
                &:hover{
                    transition: .5s;
                    translate: 0 -2px;
                }
            }
        }

        .noAccount {
            display: flex;
            align-items: center;
            color: var(--text-muted);
            font-size: .8rem;

            &::before,
            &::after {
                content: "";
                flex: 1;
                height: 1px;
                background-color: var(--border);
            }
        }
        .register{
            margin-top: 1rem;
            text-align: center;
            text-decoration: none;
            color: var(--primary-light)
        }
    }
}