.xd {
    gap: 1rem;
}

.jobCard {
    display: flex;
    align-items: start;
    gap: 1rem;
    padding: 2rem;
    border-bottom: 1px solid var(--border);
    &.is-hidden {
        display: none;
    }
    h3{
        font-weight: 500;
    }
    small {
        font-size: .875rem;
        opacity: .75;
    }

    p {
        margin-top: 0.5rem;
        color: var(--text-muted);
    }

    &:last-child {
        border-bottom: none;
    }
}

.buttonApplyJob {
    padding: 0.75rem 1.5rem;
    background-color: var(--primary);
    border-radius: 0.5rem;
    color: var(--text-primary);
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 1rem;
    
}   

.isApplied {
    background: #4caf50;
    pointer-events: none;
}